:root {
    /* color */
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: pink;
    --color-tickPink: #fd7f84;
    --color-white-smooke: whitesmoke;
    --color-gray: #dfe6e9;
    --color-skin: #ffb8b8;
    --color-button: #e8e8e8;

    /* size*/
    --size-button: 5px;
    --size-cloth: 50px;
    --size-padding: 10px;
    --font-colorBtn: 15px;
    --size-radius: 10px;
    --base-space: 10px;
    --size-margin: 5px;
}

body {
    background: rgb(145, 228, 230);
    background: radial-gradient(
        circle,
        rgba(145, 228, 230, 1) 0%,
        rgba(85, 198, 235, 1) 47%,
        rgba(10, 160, 236, 1) 100%
    );
    margin: 0;
    height: 100vh;
}

i {
    pointer-events: none;
}

ul {
    list-style: none;
    background-color: var(--color-gray);
}

button {
    background-color: var(--color-button);
    border: 0;
    border-radius: var(--size-radius);
}

button:hover {
    background-color: var(--color-white);
}

button.check {
    color: green;
}

button.delete {
    color: gray;
}

button.plus {
    color: cadetblue;
}

.content {
    background: rgb(145, 228, 230);
    background: linear-gradient(
        90deg,
        rgba(145, 228, 230, 1) 0%,
        rgba(85, 198, 235, 1) 47%,
        rgba(10, 160, 236, 1) 100%
    );

    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
    transform: translate(-50%, -50%);
    border-radius: var(--size-radius);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toDoList {
    margin: var(--base-space);
    padding-left: var(--size-padding);
    background-color: var(--color-white-smooke);

    height: 70%;
    border-radius: var(--size-radius);

    overflow-y: scroll;
}

.toDoList li {
    margin: var(--size-margin);
}

.input-container {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(107, 255, 121, 1) 49%,
        rgba(0, 255, 5, 1) 100%
    );

    margin: var(--base-space);
    padding: var(--size-padding);
    border-radius: var(--size-radius);
}

.input-container input {
    width: 85%;
}
